* {
  /*Reset*/
  padding: auto;
  margin: 0;
  font-size: 25px;
  font-family: "Urbanist", sans-serif;
}
h1{
    padding-left: 10px;
}
.barradelmenu {
  width: 100%;
  background-color: rgb(232, 183, 218);
  display: flex;
  height: 3em;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.menulist {
  display: flex;
  width: 58vw;
  justify-content: space-around;
  margin-bottom: 0;
}

.menulist > li {
  list-style: none;
  display: block;
}

.menulist > li > a {
  color: black;
  text-decoration: none;
  
}
.menulist > li :hover{
    background-color: #9087c0;
} 
.Inscripcion {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(228, 201, 220);
}
.Inscripcion-content {
  display: flex;
  justify-content: center;
}
.Inscripcion-article {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
form{
    justify-content: center;
}
.Inscripcion-article button {
  color: #e81cff;
  text-shadow: black 5px;
  background-color: #e9bcdd;
  border-radius: 10px;
}

.Inscripcion-article p {
  padding: 25px;
}
section{
    background-color: #e7bbec;
    padding-top: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 50px;
}

.Contenido {
  background-color: #e7bbec;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
}

.h2,
h2 {
  padding: 30px 0;
  text-align: center;
}
.form-label{
    font-weight: bold;
   
}
.card{
    margin: 5px;
    width: 15rem;
    height: 28rem;
    background-color: #9dbeec;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.card img{
    object-fit: cover;
    height: 150px;
}
.card-body{
height: 24rem;
text-align: center;

}


.Ninos-article {

  background-color: #9dbeec;

}


.Tecnico-article {

  background-color: #b4a7ec;
;
}


.Turismo-article {

  background-color: #ca90ec;

}

.Empresarial-article {

  background-color: #e179ec;

}



.Nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7bbec;
}
.Nosotros p{
    line-height: 1.2;
}

.Img-Nos {
  width: 50%;
  overflow: hidden;
}

.Img-Nos img {
  width: 100%;
}

.us-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.us-article {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49vw;
  line-height: 20px;
  justify-content: center;
}

.Comofn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, #cca2d1 0%, #f0f5fb 45%);
}

.Img-Como {
  width: 50%;
  overflow: hidden;
}

.Img-Como img {
  width: 100%;
}

.Comofn-content {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
}

.Comofn-article {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49vw;
  line-height: 20px;
  justify-content: center;
}
.Comofn-article p {
    white-space: pre-line;
    line-height: 1.2;
}
.medios-de-pago-content {
  display: flex;
  justify-content: center;
}

.medios-de-pago-article {
    display: flex;
    justify-content: space-around;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contact img {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 35px;
}
.compra > h4 {
  position: relative;
}

.img-delivery {
  width: 500px;
  padding-top: 5px;
  overflow: hidden;
}

.img-delivery img {
  width: 100%;
}

button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(183, 90, 183);
}

button:hover {
  background-color: rgb(179, 27, 153);
}

.item-img {
  height: 130px;
  width: 300px;
  padding: 15px;
  overflow: hidden;
}

.item-img > img {
  width: 100%;
}
